body{
    background-image: url('https://www.photographize.co/interviews/jono/files/stacks-image-32cca73.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    color:cyan;
}
h1{
    color:darksalmon
}